<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.selema.newproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logoz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
        <!-- To use multiple models: android:value="barcode,model2,model3" -->

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />


        <activity android:name=".MainActivity.MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Card.BankDepositandwithDraw" />
        <activity android:name=".Friends.FriendsActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".uploadImages.Images"></activity>
        <activity android:name=".viewpageer.viewpageActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Card.AddCard" />
        <activity android:name=".QR.GenQr" />
        <activity android:name=".SearchResult" />
        <activity android:name=".Messages.MyMessages" />
        <activity android:name=".Messages.Chat" />
        <activity android:name=".MyTransactions.MyTransaction" />
        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme" />
        <meta-data android:name="com.facebook.accountkit.FacebookAppEventsEnabled"
            android:value="false"/>
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/ak_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".QR.ScanActivity" />
        <activity android:name=".Card.Credit" />
        <activity android:name=".edit.Edit_activity" />
        <activity android:name=".Card.Deposit" />
        <activity android:name=".socket.SocketActivity" />
        <activity android:name=".Card.WithDraw" />
        <activity
            android:name=".uploadImages.profile_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>